.section-forms {
  display: flex;
  flex-direction: column;
  gap: 24rem;
  align-items: start;
  margin-bottom: 90rem;
}
.forms {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}
.forms__input {
  padding-top: 14rem;
  padding-bottom: 14rem;
  padding-left: 16rem;
  border: 1rem solid transparent;
  background: transparent;
  border-radius: 4rem;
  border: 1rem solid rgba(255, 255, 255, 0.15);
  @include text($white, $ff, 14rem, 400, normal);
  outline: 0;
}
.forms__input:focus {
  border-color: $primaryOrange;
}

.forms__input::placeholder {
  color: $grey;
}
.forms__input._textarea {
  resize: vertical;
  min-height: 100rem;
  max-height: 400rem;
}
.form-section__btn {
    display: flexbox;
}
